<div id="id-header-page" class="d-flex shadow">
  <div id="id-header-page" class="d-flex justify-content-between">
    <div class="d-none d-md-flex align-items-center">
      <button class="btn btn-dark shadow m-2"><i class="fa-solid fa-angles-right" style="font-size: 1.5rem;"></i></button>
    </div>
    <div class="d-none d-md-flex align-items-center">
      LOGO
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-success shadow m-2"><i class="fa-solid fa-sliders" style="font-size: 1.5rem;"></i></button>
      <button class="btn btn-primary shadow m-2"><i class="fa-regular fa-circle-user" style="font-size: 1.5rem;"></i></button>
      <button class="btn btn-danger shadow m-2"><i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 1.5rem;"></i></button>
    </div>
  </div>

</div>
